:root{
	--mainColor:#43667B;
	--secondaryColor:#2e4756;
	--borderColor:#164D56;
	--mainText:#fafafa;
	--secondaryText:#eeeeee;
	--themeDotBorder:#fafafa;
	--previewBg:rgb(67,102,123, 0.8);
	--previewShadow:#303436;
	--jumpColor:#fafafa;
	--buttonColor:#3d494b;
}