:root{
	--mainColor:#303436;
	--secondaryColor:#202225;
	--borderColor:white;
	/* --borderColor:#161914; */
	--mainText:#fafafa;
	--secondaryText:#eeeeee;
	--themeDotBorder:#fafafa;
	--previewBg:rgb(32, 34, 37, 0.8);
	--previewShadow:#303436;
	--jumpColor:#fafafa;
	--buttonColor:#3d494b;
}