:root{
	--mainColor:#2F6D66;
	--secondaryColor:#204c47;
	--borderColor:#161914;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(47,109,102, 0.8);
	--previewShadow:#303436;
	--jumpColor:#fafafa;
	--buttonColor:#3d494b;
}