:root{
	--mainColor:#d8c1d9;
	--secondaryColor:#e7d9e8;
    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4E4B4B;
    --themeDotBorder:#24292e;
	--previewBg:rgba(216,193,217,0.8);
	--previewShadow:#dfcde0;
	--buttonColor:black;
	--jumpColor:#303436;
}